@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: rgb(5, 5, 10);
  --offblack: rgb(40, 35, 40);
  --white: rgb(245, 250, 245);
  --offwhite: rgb(200, 215, 215);
  --activeblack: rgb(15, 15, 15);
  --activewhite: rgb(185, 185, 195);
}

#main[data-theme="light"] {
  --mainBg: var(--white);
  --cardBg: var(--offwhite);
  --activeCardBg: var(--activewhite);
  --mainColor: var(--black);
  --secondaryColor: var(--offblack);
}

#main[data-theme="dark"] {
  --mainBg: var(--black);
  --cardBg: var(--offblack);
  --activeCardBg: var(--activeblack);

  --mainColor: var(--white);
  --secondaryColor: var(--offwhite);
}
/* 
main {
  background: var(--mainBg);
  color: var(--mainColor);
} */

/* body {
  background: var(--offblack);
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .underline-clip {
    clip-path: polygon(0 7%, 100% 0%, 100% 64%, 0 95%);
    transform-origin: left;
    transform: scale(0);
    animation: growline 1s forwards;
  }

  @keyframes growline {
    100% {
      transform: scale(1);
    }
  }

  .animate-item-card {
    top: var(--i);
    transition: 500ms ease;
    /* border: 2px solid red; */
    animation: dropcards 2s;
  }

  @keyframes dropcards {
    0% {
      top: 0;
    }
    100% {
      top: 1;
    }
  }
}
